.env
/env
env
.pyc
/__pycache__
db.sqlite3
.DS_Store
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
*.swp
*.sqlite
*.db
*.egg-info
*.egg
*.coverage
htmlcov/
.tox/
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
local_settings.py
instance/
.webassets-cache
scrapy.cfg
docs/_build/
target/