# Default DB choice (sqlite or postgres)

DB_ENGINE=sqlite

DEBUG=True
SECRET_KEY=django-insecure-your_secret_key_here
DATABASE_NAME=eld_db
DATABASE_USER=postgres
DATABASE_PASSWORD=yourpassword
DATABASE_HOST=localhost
DATABASE_PORT=5432
